<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
 
        <servlet>
                <servlet-name>cookbook</servlet-name>
                <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
                <load-on-startup>1</load-on-startup>
        </servlet>
 
        <filter>
                <filter-name>transaction-filter</filter-name>
                <filter-class>pt.ulht.es.cookbook.filter.TransactionFilter</filter-class>
        </filter>
 
        <filter-mapping>
                <filter-name>transaction-filter</filter-name>
                <url-pattern>/*</url-pattern>
        </filter-mapping>
 
 
        <servlet-mapping>
                <servlet-name>cookbook</servlet-name>
                <url-pattern>/</url-pattern>
        </servlet-mapping>
 
</web-app>